
// Body
$body-bg: #f5f8fa;

//color
$zlight: #fff;
$zprime:  #246f97;
$zprime-2: #f79421;
$zdark:#021620;
$zgrey: #696969;

// Typography
$zfont: 'Montserrat', sans-serif;
$zfont-c: 'Sofia', cursive;
